<module xmlns="urn:jboss:module:1.0" name="tools.jackson.core.jackson-annotations" slot="@version.jackson@" >
  <resources>
    <resource-root path="jackson-annotations-@version.jackson@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="tools.jackson.core.jackson-core" slot="@version.jackson@" />

  </dependencies>
</module>
