<module xmlns="urn:jboss:module:1.0" name="tools.jackson.core.jackson-databind" slot="@version.jackson@" >
  <resources>
    <resource-root path="jackson-databind-@version.jackson@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="java.desktop"/>
    <module name="java.logging"/>
    <module name="java.sql"/>
    <module name="java.xml"/>
    <module name="tools.jackson.core.jackson-core" export="true" slot="3.1.3" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" export="true" slot="2.19.4" />

  </dependencies>
</module>
